main {
  margin: 50px auto;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 80px;
}

main section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}

section img {
  width: 335px;
}

section h4 {
  color: #0f8b8d;
  border-bottom: #ec9a29 solid 5px;
  font-weight: bold;
  font-size: 48px;
  line height: 15px;
}

section p {
  color: #143642;
  font-size: 24px;
  font-weight: 400;
  width: 400px;
  line-height: 29px;
  margin-top: 20px;
}

section .button {
  position: absolute;
  background-color: #a8201a;
  color: white;
  width: 335px;
  height: 70px;
  border-radius: 55px;
  padding: 20px;
  border: none;
  margin-top: 30px;
  font-size: 24px;
  font-family: lato;
  font-weight: 400;
}

section.who {
  flex-direction: row;
}

section.product-showcase {
  flex-direction: row-reverse;
}

section.hang-out {
  flex-direction: row;
}

section.gallery h4 {
    font-size: 48px;
    color: #0F8B8D;
    text-decoration: none;
    line-height: 57.6px;
    text-align: center;
    border: none;
}

section h4 span {
    font-size: 48px;
    color: #EC9A29;
    line-height: 57.6px;
}
section.gallery {
  flex-direction: column;
  display: flex;
  row-gap: 20px;
  width: 800px;
  justify-content: center;
  align-items: center;
}

section.gallery div.gallery-instagram {
    column-gap: 20px;
    margin: 30px;
    flex-direction: row;
    display: flex;
}

section.gallery div.gallery-instagram img {
  width: 200px;
}

.ask-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ask-us h5 {
  color: #0F8B8D;
  font-size: 48px;
  font-family: lato;
  font-weight: 800;
  text-align: center;
  align-items: center;
}

.ask-us p {
  color: #143642;
  font-size: 24px;
  font-family: lato;
  font-weight: 400;
  width: 877px;
  padding-top: 20px;
}

.ask-us button {
  background-color: #a8201a;
  color: white;
  width: 335px;
  height: 70px;
  border-radius: 55px;
  padding: 20px;
  border: none;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  font-size: 24px;
  font-family: lato;
  font-weight: 400;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #143642;
  width: 100%;
  color: white;
  padding: 30px;
  height: 460px;
}

.footer-links li {
  list-style: none;
  font-size: 24px;
  color: #F9FBFE;
  font-family: lato;
  font-weight: 400;
  line-height: 29px;
  padding: 10px;
  padding-left: 0;
}

.footer-links li a {
text-decoration: none;
color: white;
}

.footer-links {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  font-family: lato;
  font-weight: 700;
  line-height: 29px;
}

footer h5 {
  color: #EC9A29;
  font-size: 20px;
}
