main {
  margin: 900px auto;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 80px;
}

main section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}

section img {
  width: 335px;
}

section h4 {
  color: #0f8b8d;
  border-bottom: #ec9a29 solid 5px;
  font-weight: bold;
  font-size: 48px;
  line height: 15px;
}

section p {
  color: #143642;
  font-size: 24px;
  font-weight: 400;
  width: 400px;
  line-height: 29px;
  margin-top: 20px;
}

section button {
  position: absolute;
  background-color: #a8201a;
  color: white;
  width: 335px;
  height: 70px;
  border-radius: 55px;
  padding: 20px;
  border: none;
  margin-top: 30px;
}

section.who {
  flex-direction: row;
}

section.product-showcase {
  flex-direction: row-reverse;
}

section.hang-out {
  flex-direction: row;
}

section.gallery h4 {
    font-size: 48px;
    color: #0F8B8D;
    text-decoration: none;
    line-height: 57.6px;
}

section h4 span {
    font-size: 48px;
    color: #EC9A29;
    border-bottom: #ec9a29 light 1px;
    line-height: 57.6px;
}

section.gallery img {
    width: 237px;
    height: 237px;
    padding: 20px;
    margin: 30px;
}